@font-face {
    font-family: 'digital-7';
    src: url(digital7/digital-7.ttf);
}
body{	
	background: #534bae !important;
	line-height: 1;
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	font-size: 15px !important;
	overflow-x: hidden;
	/*height: 100% !important;*/
	
}
.head{
	height:100%;
	background: #000051 !important;
	margin-bottom: 25px;
	width: auto; 
}
.head img{
	margin-left:10px;
	width: 210px;
}
.datenow{
	height:55px;
	margin-top:-62px;
	background: #444; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #000 , #561a1a, #463030, #613535, #380505); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #000 , #561a1a, #463030, #613535, #380505); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #000 , #561a1a, #463030, #613535, #380505); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #000 , #561a1a, #463030, #613535, #380505); /* Standard syntax (must be last) */
}
.datenow h3, .timenow h3{
	text-align:right;
	color:white;
	font-style:italic;
	font-weight:lighter;
	margin-right:20px;
	padding-top:7px;
	padding-bottom:7px;
}
.timenow{
	margin-top:-40px;
	height: 45px;
	background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#a09797,#3c3434,#1b1616, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#a09797,#3c3434,#1b1616, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#a09797,#3c3434,#1b1616, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#a09797,#3c3434,#1b1616, black); /* Standard syntax */
}

.navbar-brand img{
	height: 40px;
}
table.form{
	width: 100%;
}
table.form .form-control{
	margin-bottom: 4px;
}

#SidebarLeft{
	max-width: 100px !important;
}

ul{
	padding: 0;
}

ul li {
	list-style: none outside none;
}

/* .pagination li{
	display: inline-block;
	padding: 5px;
} */

.menu th{
	background : url('images/navtab2.gif') repeat scroll 0 0 rgba(0,0,0,0);
}

.menu th.current{
	background : url('images/navtab1.gif') repeat scroll 0 0 rgba(0,0,0,0);
}

.topmenu th.current{
	background : url('images/yes.gif') repeat scroll 0 0 rgba(0,0,0,0);
}

#breadcrumb{
	display: none;
}

/* .pagination li {
	display: none;
} */

/* .pagination li a{
	color: #fff;
	text-transform: uppercase;
}

.pagination li:first-child a:after {
	content: "Preview";
	color: #009B00;
}

.pagination li:last-child a:after{
	content: "Next";
	color: #D50000;
}


.pagination li:first-child, .pagination li:last-child{
	display: inline-block;
}

.pagination li:first-child a, .pagination li:last-child a{
	text-indent: -999;
}

.pagination li.disabled:first-child, .pagination li.disabled:last-child, .pagination li.disabled{
	visibility: hidden;
} */

.thead{
	/* background: #444; */ /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #000051 , #c595ea, #2a4cb5, #000051 ); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #000051 , #c595ea, #2a4cb5,#000051 ); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #000051 , #c595ea, #2a4cb5, #000051 ); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #000051 ,#c595ea, #2a4cb5, #000051 );  /* Standard syntax (must be last) */
	/* color: #fff; */
	/* font-size: 24px; */
	/* text-shadow: 0px 4px 5px #222; */
	/* border: 1px solid #fff; */
}

.thead td {
  font-family: 'Federo', sans-serif;
  font-weight: bold;
  padding: 10px 0px 10px 20px;
  color: white;
}
.thead tr{
}
.thistory  th {
	background: #444; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #444 , #ddd, #ddd, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #444, #ddd, #ddd, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #444, #ddd, #ddd, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #444 , #ddd, #ddd, #444); /* Standard syntax (must be last) */
	color: #fff;
	font-size: 24px;
	padding: 7px 0px 11px;
	font-weight: normal;
	text-shadow: 0px 4px 5px #222;
}


.pools {
  background: rgba(0,0,0,0) url('images/bg-number.html') repeat scroll 0 0;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 25px;
  /* padding: 10px 0px 10px 0px; */
  font-family: 'Federo', sans-serif;
  font-weight: bold;
  /* width: 20px; */
  /* height: 20px; */
  text-align: center;
}
.garishb{
	color: #fff;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.tbody {
	margin-top: -1px;
	background:  #000051;
}

.tbody td{
	width: 10% !important;
	border-bottom: 1px dashed #7E2D2D;
	border-right: 1px dashed #7E2D2D;
	 padding-right: 10px; 
	 padding-top: 10px;
	 padding-bottom: 10px;
}

.remaining .date, .livedrawer .date{
	margin-bottom: 5px;
	padding: 10px 18px;

}

#topMenu{
	background:  #000051 !important;
}
.date {
	text-align: left;
}

.date p, .date p a{
  color: #f1af83 !important;
  font-size: 18px;
  margin: 0;
  padding-top: 2px;
	/*! text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
  padding-left: 8px;
  text-decoration:none;
}

.waktu p{
  color: #f1af83 !important;
  font-size: 18px;
  margin: 0;
  padding-top: 2px;
	/*! text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
  padding-left: 15px;
  text-decoration:none;
}

.remaining .date p {
  font-size: 20px;
  margin-right: 200px;
}
.remaining {
	width:150%;
}
.remaining a{
	text-decoration-line: none;
}
.remaining .pools{
	/* font-size: 70px; */
	/* padding-left: 20px !important; */
	width: 42px;
	height: 180px;
	color: #5F1845;
	margin-top: 80px;
	margin-left:20px;
	margin-right:20px;

	text-shadow: 0px 5px 2px #fbaff2;
	top: 10px;
    position: relative;
}
 .livedrawer .pools{
	font-size: 40px;
	padding: 5px;
	width: 34px;
	height: 34px;
	color: #5F1845;
	/*margin-top: 10px;*/
	margin-bottom: 10px;
	text-shadow: 0px 5px 2px #fbaff2;
	position: relative;
}
.panel1{
	/* margin-top:-90px; */
	text-align:left;
	font-size:40px;
	padding:5px;
	background: #000051 repeat scroll center top / 100%;
	border: 1px solid #000051;
	color: #fff;
}
.panel1 .date-remain, .panel1 .texttime{
	color: #f1af83;
	font-size:20px;
 	 -o-text-overflow: clip;
 	 text-overflow: clip;
 	 white-space: pre;
 	 -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
 	 -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
 	 -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  		transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.panel1 .date-remain{
	font-style:italic;
}
.panel1 .texttime{

	text-align:right;
	padding-right:20px;
}
.panel1 .remaintime{
	margin-top:-15px;
}
.panel1 .texttime{
	margin-top:-65px;
	margin-bottom:20px;
}
.panel2 {
	font-size: 40px;
	text-align: left;
	background: #000051  repeat scroll center top / 100%;
	
	margin-top: 20px;
	border: 1px solid #000051;
	color: #fff;
	padding: 5px;
}
.panel3 {
	font-size: 20px;
	text-align: right;
	background:  #000051  repeat scroll center top / 100%;
	text-align: center;
	margin-top: 20px;
	border: 1px solid  #000051 ;
	color: #fff;
	padding: 5px;
}

.panel3 a{
	text-decoration: none !important;
	text-decoration-color: red !important;
	color: white;
	
}

.remaintime {
	width: 325px;
	line-height: 1;
	font-size: 50px;
	font-family: 'digital-7', sans-serif;
	padding-bottom: 10px;
	margin-left: 15px;
}
.remaintime span {
	width: 48px;
	display:inline-block;
}
.latest-result .tbody td{
	border-right:0px;

}
.latest-result{
	width: 240px;
	float: left;
	/* margin-top: -85%; */
}
.latest-result .date p{
	color:#f1af83;
	text-shadow: 0px 0px;
	padding-top:20px;
	/*margin-bottom: 50px;*/
	text-decoration: none;
	padding-bottom: 10px;
	font-size: 17px;
}

.latest-result .poolball .pools,.main-content-details .pools{
	color:#9E047B;	
	background: white;
	margin-right: 4px;
	padding:0px;
	-moz-box-shadow:    1px 0px 1px #D44386, 3px 0px 1px #8D2090, inset 0 0 1px #000000;
  -webkit-box-shadow: 1px 0px 1px #D44386, 3px 0px 1px #8D2090, inset 0 0 1px #000000;
	box-shadow: 1px 0px 1px #D44386, 3px 0px 1px #8D2090, inset 0 0 1px #000000;
	width: 30px;
	height: 30px;
	line-height: 1.2;
}
.latest-result .poolball{
}
.poolball1 .pools{
	text-decoration:none;
	text-shadow:none;
	color:#fff;
	font-style:none;
	font-size:20px;
	font-family: 'Federo', sans-serif;

}
.latest-result td{
}
.banner{
	position: absolute;
	margin: 20px;
}
.latest-banner{
  background: url(images/hr3.png) repeat scroll center top / 100%;
	padding:10px;
	font-size:25px;
	color:white;
	border: 1px solid #6f2740;
}
.thistory > tbody {
  background: #FFDEFB;
}

.thistory form {
	padding: 0px 10px;
  color: #fff;
}

.thistory form input{
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: left;
	width: 35px;
}

.ui{	
background:  #000051;
border: medium none;
color:#fff;
cursor: pointer;
font-family: comic sans ms;
font-size: 15px;
position: relative;
padding: 5px 15px;
}

.ui:hover{
	background: grey;
}



.ui img{
	padding: 1px;
	width:15px;
	height:15px;
}

.thistory .thead{
	/* display: none; */
}

.thistory .tbody .date{
	padding: 3.7px;
	/* margin-right: 10px; */
}

.thistory .tbody .pools {
	padding: 10px 0px 10px 0px;
	width: 20px;
	height: 20px;
}

.pagination span {
  background: #6b203b;
  border: 1px solid #6b203b;
  font-weight: normal;
  padding: 5px;
  color: #fff;
}

.pagination {
    float: right;
    /*margin-right: 10px;*/
    margin-top: -30px;
    display: inline-block;
    margin-bottom: 20px;
}

a.ui{
	text-decoration: none;
	padding: 8px 15px;
}
a.ui:hover{
	background: #5c58ff;
}
.remaining .date, .livedrawer .date{
	margin-bottom: 0px;
	float: right;
}
.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {	
  15% { opacity: 1; }
  50% { opacity: 0; }
  85% { opacity: 1; }
}
.livedrawer .openlive{
	display: none;
}

.time{
	background: #444; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #444 , #ddd, #ddd, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #444, #ddd, #ddd, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #444, #ddd, #ddd, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #444 , #ddd, #ddd, #444); /* Standard syntax (must be last) */
	float: right;
    border: 1px solid;
    padding: 8px 15px;
	text-shadow: 0px 0px 5px #fff;
}

.winnerbox{
	background: rgba(0,0,0,0) url(images/Banner.jpg) no-repeat center center;
	/*background-size:100% 90%;*/
	}

.titlewin{
	text-shadow: 0px 4px 5px #222;
	color: #fff;
	font-size: 24px;
	margin-top: 7px;
	margin-bottom: 5px;
}

.thistory{

}

form .boxpanel{
	margin-top:-35px;
	margin-left:20px;
	padding-bottom:12px;
	text-align: center;
}

form .boxpanel div{
	margin-left: 120px;
	display: inline-block;
	padding-right: 10px;
	color: #000
	
}
.thead .winning{
	color: #fff;
	text-transform: uppercase;
	font-weight: bolder;
}

.fsearch{
	 /* padding-bottom: 30px; */
}

.fsearch p{
	text-align: left;
	color:black;
	margin-top: 20px !important;
}
.backbutton{
	margin-bottom: 25px;
}
.shadowdate{
}

.winningnumber{
	background: rgba(0,0,0,0) url(images/bg-pools-tokyo.png) no-repeat center center / 100%; 
	float: left;
	width: 50%;
}

.timeresult{
	background: rgba(0,0,0,0) url(images/bg-time-tokyo.png) no-repeat center center / 100%; 
	float: right;
	margin-top: 60px;
	text-align: center;
	width: 50%;
	color: #290A1D;
}
.timeresult2{
	background: rgba(0,0,0,0) url(images/bg-time-tokyo.png) no-repeat center center / 100%; 
	float: right;
	text-align: center;
	width: 50%;
	color: #290A1D;
}
.td{
	color:rgb(241, 175, 131);
}
.texttime{
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 10px;
	padding-top: 25px;
	margin-left: 25px;
}

select{
	padding: 8px; 
}

.poolball{
	margin-bottom: 15px; 
	padding-left: 10px; 
}

.poolball1{
	padding-left:15px;
}

.mld_mainContent {
	position: absolute;
	 margin-left: 150px; 
}
.nextpage{
		background: #e03131 url("images/head.png") repeat scroll 0 0;
		padding: 10px;
}
.winpools{
	text-align: center;
	/* width: 30px !important; */
}



.row img{
	position: absolute;
	margin-top: 150% !important;
	margin-left: 30px;
}


/*sidebar*/

#sidebar-wrapper{
	position: absolute;
	margin-left: 143px;
}

/* .row .col-sm-4 img{
	height:10px;
} */

/* @media only screen and (max-width: 1366px) and (min-width: 1024px){
.footer {
    margin-top: 1px !important;
} */

#footer{
	padding: 30px;
	/* margin-top: 20px; */
}

@media only screen and (min-width:768px) and (max-width:1058px){
	footer{
		margin-top: 150% !important;
	}
}

@media only screen and (min-width:320px) and (max-width:1022px){
	.mld_mainContent {
		
		margin-left: -90px !important;

	}
}

@media only screen and (min-width: 769px)and( max-width:1023px){
	.mld_mainContent {
		
		margin-left: -60px !important;
	}
}


/*footer*/
@media only screen and (min-width: 320px) and (max-width: 1024px){
footer{
	
    width: 1036px !important;

}
  }


@media only screen and (min-width:1096px) and (max-width: 1098px){
	footer {
		
		margin-top: 115% !important;
	}
}

@media only screen and (width:1263px){
	footer {
		
		margin-top: 115% !important;
	}
}

@media only screen and (width:1224px){
	footer {
		
		margin-top: 100% !important;
	}
}

@media only screen and (width:1217px){
	footer {
		
		margin-top: 100% !important;
	}
}

 @media only screen and (width: 1217px)  {
  .row img{
       margin-top: 140% !important;
    margin-left: -12px;
}
  }
@media only screen and (width: 1224px)  {
  .row img{
       margin-top: 140% !important;
    margin-left: -12px;
}
  }

 @media only screen and (width: 1096px)  {
  .row img{
       margin-top: 155% !important;
    margin-left: -12px;
}
  }

   @media only screen and (width: 1098px)  {
  .row img{
       margin-top: 155% !important;
    margin-left: -12px;
}
  }


 @media only screen and (min-width: 768px) and (max-width: 1058px) {
  .row img{
       margin-top: 170% !important;
    margin-left: -12px;
}
  }


/*Header*/
 @media only screen and (min-width: 320px) and (max-width: 1024px){
.head{
	height: 10%;
    background: #000051 !important;
    margin-bottom: 25px;
    width: 1036px ;

}
  }

 @media only screen and (min-width: 320px) and (max-width: 1023px){
.head img{
	margin-left: -85px;
    width: 210px;

}
  }

